.game-game4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columnas */
    grid-template-rows: repeat(2, 1fr);
    /* 2 filas */
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
}

/* Estilos de las tarjetas */
.card-game4 {
    width: 100px;
    /* Ajusta el ancho de las tarjetas según tus preferencias */
    height: 150px;
    /* Ajusta la altura de las tarjetas según tus preferencias */
    background-color: #f0f0f0;
    /* Color de fondo cuando la tarjeta está boca abajo */
    border: 2px solid #e0e0e0;
    /* Borde de las tarjetas */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.flipped-game4 {
    transform: rotateY(180deg);
}

.card-game4 img {
    max-width: 100%;
    max-height: 100%;
    transform: rotateY(-180deg);
}

.card-game4.matched {
    background-color: #4CAF50;
    border: 2px solid #388E3C;
    pointer-events: none;
}

.checkmark-overlay {
    position: absolute;
    top: 25%;
    right: 2%;
    color: green;
    font-size: 50px;
}