
.top-left {
  padding: 10px;
}

.wordToMove {
  font-size: 16px;
  font-weight: bold;
}

.center-game2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 50px;
  font-weight: bold;
}



.syllable-separation {
  text-align: center;
}

.piece-word {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  border-radius: 10%;
  font-size: 10px;
  font-weight: bold;
  color: black;
}
.target-word {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  top: 0%;
  left: 0%;
}
.altavoz-btn {
  cursor: pointer;
  height: 75px;
}
.altavoz-btn:hover {
  background: rgba(255, 166, 0, 0.248);
}



.imageDraw {
  margin-right: 20rem;
}

