.avatar {
  width: 10rem;
  height: 15rem;
}

.background {
  background-image: url("../Images/fondo_1.svg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

.title {
  font: bold;
  color: #e4800e;
}

.container-fluid-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: auto;
}

.center {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: #e4800e;
  font-weight: 800;
}

.label-auth {
  font-size: 14px;
  font-weight: 600;
  color: #e4800e;
}

.boton-login {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--black);
  border-radius: 4px;
  background: var(--black);
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.boton-login {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--black);
  border-radius: 4px;
  background: var(--black);
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.main-button {
  border-radius: 5px;
  background-color: #e4800e;
  color: white;
  border: none;
  padding: 10px 20px;
  /* Ajusta el padding para hacer el botón más grande */
  font-size: 12px;
  /* Ajusta el tamaño de fuente para hacer el texto más grande */
}

.main-button:hover {
  background-color: #51bed0;
}

.centrado {
  text-align: center;
  justify-content: center;
}

.forgot-password a {
  text-decoration: none;
  color: #e4800e;
  font-weight: bold;
}
.a{
  color: #e4800e;
}
.a:hover{
  cursor: pointer;
}