.avatar {
  width: 10rem;
  height: 15rem;
}

.background {
  background-image: url("../assets/images/Fondos/fondo_1.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

.title {
  font: bold;
  color: #e4800e;
}

.container-fluid-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: auto;
}

.center {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: #e4800e;
  font-weight: 800;
}

.label-auth {
  font-size: 14px;
  font-weight: 600;
  color: #e4800e;
}

.boton-login {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--black);
  border-radius: 4px;
  background: var(--black);
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.boton-login {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--black);
  border-radius: 4px;
  background: var(--black);
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.main-button {
  margin: 5px;
  padding: 12px 24px; 
  background-color: #e4800e;
  color: #fff;
  border: 2px solid #e4800e;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.main-button:hover {
  background-color: #51bed0;
  border-color: #51bed0;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 18px; 
}

.centrado {
  text-align: center;
  justify-content: center;
}

.forgot-password a {
  text-decoration: none;
  color: #e4800e;
  font-weight: bold;
}
.a{
  color: #e4800e;
}
.a:hover{
  cursor: pointer;
}