@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

body {
    background-color: #fff;
    color: #333;
}