.Game1 {
  text-align: center;
  padding: 20px;
}

h2 {
  color: black;
  font-size: 24px;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
}
.options-buttons {
  display: flex;
  align-items: center;
  margin: 15px 15px;
}

.options-buttons button {
  background: orange; 
  color: white; 
  border: none;
  font-size: 50px;
  cursor: pointer;
  padding: 15px 15px; 
}

.options {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 0 10px;
}

.options button {
  background: orange; 
  color: white; 
  border: none;
  font-size: 50px;
  opacity: 0.9;
  cursor: pointer;
  margin: 0 30px ;
  padding: 15px 40px; 
}

.options-buttons button:hover,
.options button:hover {
  opacity: 1;
}

h1 {
  font-size: 24px;
  margin: 10px 0;
}

#target-letter {
  font-size: 150px;
  margin: 0;
  padding: 0;
}